.Post{
    background-color: #212329;
    color: white;
    padding: 20px 0;
    min-height: 90vh;
}
.Post .top-part{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.Post h2{
    width: 70%;
}
.Post .top-part p{
    display: flex;
}
.Post .author-11{
    background-color: white;
    color: black;
}
.Post .middle-part{
    width: 90%;
    margin: 20px auto;
    min-height: 50vh;
}
.Post .down-part{
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.Post .down-part button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    gap: 5px;
    color: white;
}
.Post button{
    margin: 0 5px;
}
.Post .down-part .icon{
    width: 18px;
    height: 18px;
}
.Post .down-part .icon-2{
    width: 24px;
    height: 29px;
}
.Post .tag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    color: black;
}
@media(max-width: 700px){
    .Post{
        padding: 5px 0;
    }
    .Post .top-part{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 2px;
        gap: 8px;
    }
    .Post h2{
        width: 100%;
        font-size: 1rem;
    }
    .Post .top-part p{
        display: flex;
        margin-left: auto;
        font-size: 0.7rem;
        align-items: baseline;
    }
    .Post .middle-part{
        width: 95%;
        margin: 5px auto;
    }
    .Post .down-part{
        padding-top: 5px;
    }
    .Post .down-part .icon{
        width: 15px;
        height: 15px;
    }
    .Post .down-part .icon-2{
        width: 23px;
        height: 26px;
    }
    .Post .tag{
        font-size: 0.8rem;
    }
}