*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #f0eeee;
    background-color: #5f656e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
main{
    display: flex;
    justify-content: space-around;
}
button{
    cursor: pointer;
}
.dynamic{
    width: 66%;
    margin-top: 35px;
    box-shadow: 5px -10px 3px 2px rgba(0, 0, 0, 0.5);
}
.static{
    width: 26%;
    background-color: #212329;
    height: 100vh;
    padding: 20px 10px;    
    position: sticky;
    top: 0;
}
ul{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #f0eeee;
}
.container{
    width: 90%;
    margin: auto;
}
.align{
    display: flex;
    align-items: center;
}

 @media(max-width: 700px){
     main{
        display: block;
        width: 100%;
    }
    .dynamic{
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }
    .static{
        display: none;
    } 
} 